.location_area {
    width: 100%;
    height: 100%;
}
.location_area .topbar{
    position: sticky;
    top:0%;
}
.location_area .location_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height:100%;
 }
 .location_area  .location_container .location_heading{
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items:flex-start;
     flex-basis:40%;
     bottom:0px;
     left:200px;
     top:auto;
     margin:0rem 4rem;
 }
 .location_area  .location_container .location_heading h1{
     font-size:30px;
     font-family:"Bold";
     text-align:left;
 }
 .location_area  .location_container .location_heading p{
     font-size:16px;
     font-family:"Regular";
     color: #55575b;
     margin-top: -2px;
     text-align:left;
 }
 .location_area  .location_container .location_heading form{
     width: 100%;
     display:flex;
     justify-content:center;
     flex-direction:column;
     align-items:flex-start;
 }
 .location_area  .location_container .location_heading button {
    font-family:"Medium";
    margin-top:1rem;
    font-size: 12px;
    color: white;
    text-decoration: none;
    background-color: #55575b;
    padding: 10px 20px;
    border-radius:10px;
    cursor:pointer;
    outline: none;
    border-color: transparent;
}
 .location_area  .location_container .location_heading .input{
    font-family: "Regular";
    font-size: 14px;
    padding: 14px 14px;
    border: 1px solid rgba(10,46,101,.1);
    outline: none;
    border-radius: 6px;
    letter-spacing: 0px;
    color: rgb(37, 37, 37);
    width: 100%;
    margin-top: 10px;
}
.location_area  .location_container .location_heading .select_input{
    font-family: "Regular";
    font-size: 14px;
    padding: 14px 14px;
    border: 1px solid rgba(10,46,101,.1);
    outline: none;
    border-radius: 6px;
    letter-spacing: 0px;
    color: rgb(37, 37, 37);
    /* width: 104%; */
    margin-top: 10px;
    appearance: none;
}
.location_area  .location_container .location_heading .errorMsg{
    top:0px;
    margin-top: 8px;
    font-family: "Regular";
    font-size: 12px;
    color: blue;
    transform: scaleY(1);
    transition: all .5s ease-in-out;
}
 .location_area  .location_container .location_list_container{
     flex-basis:60%;
     display: flex;
     right:200px;
     flex-direction:column;
     align-items:flex-start;
     justify-content:flex-start;
     margin:2rem 4rem;
     
 }
 .location_area  .location_container .location_list_container h1{
     font-size:30px;
     font-family:"Bold";
     text-align:center
 }
 
 .location_area  .location_container .location_list_container .location_maps{

 }
 /* responsiveness */
@media screen and (max-width:940px){
    .location_area .location_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:2rem 0rem;
    }
    .location_area  .location_container .location_heading h1,.location_area  .location_container .location_list_container h1{
        font-size:20px;
    }
    .location_area  .location_container .location_heading p{
        font-size:14px;
    }
    .location_area  .location_container .location_list_container .location_maps{
        margin-bottom:2rem;
    }
}
@media screen and (max-width:545px){
    .location_area  .location_container .location_heading{
        margin:0rem 1rem;
    }
    .location_area  .location_container .location_list_container{
        margin:0rem 1rem;
    }
}