.app_wrapper {
  margin:0;
  padding:0;
  box-sizing: border-box;
  height:100vh;
  width:100vw;
}

.app_container{
  flex:1
}
.app_container .top_bar_area{
  height: 190px;
}
.app_container .main_area{
  flex:1;
  text-align:center;
}
.app_container .bottom_bar_area{
  height: 60px; 
  position: fixed; 
  bottom:0%;
  width:100%;
  /* background-color: #D4F1F4; */
  opacity: 1;
}